on: [push]

jobs:
  trigger_jenkins_job:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        python-version: [3.8]
    name: A job to test action config
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Set controller port
        run: |
          echo '::set-env name=PORT::8500'
          echo '::set-env name=ENV::test'
          echo '::set-env name=CLIENT::gs'
      - name: Deploy controller
        if: ${{ always() }}
        uses: ./.github/actions/jenkins # Uses an action in the root directory
        id: job-build
        with:
          jenkins-url: ${{ secrets.JENKINS_URL }}
          jenkins-token: ${{ secrets.JENKINS_TOKEN }}
          user: 'devops-qa'
          job-path: 'job/Fluid/job/fluid-controller-deploy'
          job-params: '{"ENV": ${{ env.ENV}}, "CLIENT": ${{ env.CLIENT}}, "PORT": ${{ env.PORT}}}'
      - name: Get the job status
        run: echo "Job status is ${{ steps.job-build.outputs.job_status }}"
      - name: Check controller is running
        run: |
          pip install pytest
          cd tests/
          pytest test_controller_running.py
        env:
          TESTING_SERVER_URL: "http://209.133.199.114"
          CONTROLLER_PORT: ${{ env.PORT}}
      - name: Check register service
        run: |
          cd tests/
          pytest test_register_service.py
        env:
          TESTING_SERVER_URL: "http://209.133.199.114"
          CONTROLLER_PORT: ${{ env.PORT}}
      - name: Check remove service
        run: |
          cd tests/
          pytest test_remove_service.py
        env:
          TESTING_SERVER_URL: "http://209.133.199.114"
          CONTROLLER_PORT: ${{ env.PORT}}
          SERVICE_NAME: "testing_image"
      - name: Stop controller
        if: ${{ always() }}
        uses: ./.github/actions/jenkins # Uses an action in the root directory
        id: stop-job
        with:
          jenkins-url: ${{ secrets.JENKINS_URL }}
          jenkins-token: ${{ secrets.JENKINS_TOKEN }}
          user: 'devops-qa'
          job-path: 'job/Fluid/job/fluid-controller-stop'
          job-params: '{"ENV": ${{ env.ENV}}, "CLIENT": ${{ env.CLIENT}}}'
      - name: Get the job status
        run: echo "Job status is ${{ steps.job-build.outputs.job_status }}"